.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav {
  padding-inline: 1.2rem; /* means padding aaju baju*/
  padding-block: 1rem; /* means padding upar neeche*/
  display: flex; /* display hoga row-wise*/
  justify-content: space-between; /* space between items */
  align-items: center; /* center align items */
}

.landingPageContainer nav h2 {
  font-size: 1.8rem; /* font size */
  font-weight: 500; /* boldness */
}

.landingPageContainer nav .navlist {
  display: flex; /* display hoga row-wise*/
  gap: 1.6rem; /* gap between items */
  cursor: pointer; /* cursor pointer */
}

.landingMainContainer {
  display: flex; /* display hoga row-wise*/
  justify-content: space-between; /* space between items */
  padding-inline: 3rem; /* padding aaju baju* */
  /* padding-top: 20vh;  */ /* padding upar */
  height: 80vh; /* New Trick */
  align-items: center;
}

.landingMainContainer > div:nth-child(1) {
  font-size: 1.2rem;
}

.landingMainContainer > div:nth-child(1)  div[role="button"] {
  background: #d97500;
  width: fit-content; /*No idea*/
  padding: .8rem;
  border-radius: 20px;
  margin-top: 1.9rem;
}

.landingMainContainer > div:nth-child(1) div[role="button"] a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.landingMainContainer > div:nth-child(2) img {
  height: 70vh; /* New Trick */
  width: auto;
}
